[2020-07-21 08:30] jimbok8 opened #5 "No Admin Rights"
This looks really interesting.
Is it possible to make a version of the installer that does not require admin rights please?
Perhaps just something that unpacks the files?
Thanks
Jim

[2020-07-21 12:37] sblantipodi commented on #5
Hi @jimbok8
thanks for the kind post.

Project is growing really really fast, I am going to release a new version in some days with a new user interface.

All the "manual configurations" will be replaced soon with a simple UI, LED matrix will be automatically calculated considering the monitor resolution and operating system scaling.

I am honest, I don't have time to implement this feature in thi

[2020-07-21 21:24] #5 closed

[2020-07-21 21:46] sblantipodi commented on #5
@jimbok8 at the end is was pretty easyer to implement your request, I have just released a new version with per user basis that does not require admin rights.
thanks for the suggestion!

[2020-07-25 13:43] jimbok8 opened #7 "Failed to launch JVM"
I have downloaded the latest release.
When I double click on `Fast Screen Capture.exe`  I get the following error.
"Failed to launch JVM"
Jim

[2020-07-25 15:07] sblantipodi commented on #7
@jimbok8 thanks for opening the issue.
are you using a 32bit Windows?
What version of Windows?

Thanks

[2020-07-26 13:14] sblantipodi commented on #7
@jimbok8 I think that i discovered the issue.
That error is thrown when there is no microcontroller connected to the PC. Do you have a microcontroller connected via the serial port?

[2020-08-07 14:37] mikosoft83 opened #9 "Publish realtime RGB colors over MQTT"
Since you already have MQTT support would it be possible to add realtime RGB data to MQTT so that the PC and the ESP don't need to be connected over serial? I have a HTPC with a projector on the other side of the room where my screen sits so that would greatly benefit my setup.

[2020-08-07 20:05] sblantipodi commented on #9
@mikosoft83 thank you for opening this issue and for the kind feedback.
I can't tell you when I will implement this feature but I will do it in the next near future for sure. Thanks.

[2020-08-13 15:38] sblantipodi commented on #9
@mikosoft83 just released a new version with full MQTT support.
closing the issue, hope you'll enjoy it :)

[2020-08-13 16:39] mikosoft83 commented on #9
@sblantipodi Already downloaded and testing the MQTT stream, I plan to integrate it to home assistant to control a bunch of RGB LED stuff. Thanks a lot for such a quick update!

[2020-08-13 17:14] sblantipodi commented on #9
@mikosoft83 no problem, thank you for your suggestion.
future release will let you control multiple led strip with separate channels on separate ESP devices, it will be useful for big home cinema.
if you want to share a video of your setup once finished, it will be appreciated. thanks!

[2020-08-13 17:35] sblantipodi commented on #9
PS: If you want to integrate Luciferin with Home Assistant there is a ready to use package for the purpose, if you don't want to create your own.
https://github.com/sblantipodi/firefly_luciferin/wiki/Home-Automation-configs

[2020-08-14 04:41] ikrowni opened #11 "Help with installation"
From the power supply barrel jack I have a red wire going to 3v3 and white wire going to Ground on the wemos d1 mini.

I have another red wire coming from the barrel jack going to the 5v and a white wire to the GND of the led strip.

I have a green wire going from D1 of the wemos mini to the data in of the led strip.

After opening the windows software I set the proper amount of LEDs for each sect

[2020-08-14 05:41] mikosoft83 commented on #9
@sblantipodi Thanks for the tip, I've seen that. What I want to do though is to actually convert the RGB stream to be usable in Shelly RGBW. I already have some LED lights, I just want to convert them to smart so they can be controlled via HA and work similarly to Ambilight for Hue.

[2020-08-14 10:38] sblantipodi commented on #11
hi @ikrowni thanks for opening the issue.
I don't think that you should connect a 5V input to the 3.3V PIN of your D1 Mini.
D1 Mini have a 5V PIN, you can use it for the 5V input.

Is your D1 Mini connected to the Wifi/MQTT network? have you followed this guide here?
https://github.com/sblantipodi/firefly_luciferin/wiki/Remote-Access
Are you sure you entered the correct value for WiFi and MQTT?

i

[2020-08-14 10:48] sblantipodi commented on #9
Hi @mikosoft83,
it should be very easy to implement now that MQTT pipeline is ready but I don't think that the Shelly RGBW is powerfull enough to sustain an MQTT stream like this.
It's not a problem of horse power but a problem of how they manage the MQTT input.

If you read the Shelly documentation they "waste" an entire MQTT message for just brightness and a single color state.
It's ok for their

[2020-08-14 19:43] mikosoft83 commented on #9
@sblantipodi
Actually, I want to use Shelly RGBW, which accepts payloads like this:

[code]
I have four DYI lamps that have (non addressable) RGB strips in them. Two of them are around my projector screen so I would hook up each lamp to one Shelly and use one pixel value from Firefly for each. So that means converting your stream message to two Shelly messages. Not that bad :)

Shellies also have

[2020-08-14 19:55] ikrowni commented on #11
Okay I seem to have it working now. But when I run the test image from within the software the colors aren't properly matching.

I have 32 leds going across the top and 32 going across the bottom. Then there are 19 on the left and 19 on the right.

I have the software set as

32 top
19 left
19 right
16 bottom left
16 bottom right

I don't see anyway to like offset the colors to match up with the t

[2020-08-14 22:19] sblantipodi commented on #11
Nice done @ikrowni
It's almost done.
What's your monitor resolution? What is your os scaling 125%,150%?
What do you mean by the colours aren't properly matching? Do you see red, green, blu, red, green, blu LEDs but sometimes you see some errors like two red LEDs or something like that?
If you want you can share a photo.

[2020-08-14 22:43] sblantipodi commented on #9
@mikosoft83 firefly have a ready to use package that can be easily integrated in home assistant. There is a wiki here on how to do it.
https://github.com/sblantipodi/firefly_luciferin/wiki/Home-Automation-configs

I don't think that Luciferin is the best software to be used with Shelly devices. Luciferin is made to work with addressable led strip. If you have 100 LEDs, it capture the colours of 10

[2020-08-15 00:02] ikrowni commented on #11
Windows shows that the monitor scale is set to 100% same as in the settings for luciferin.

My monitor is 1440p

When I bring the test image up from within the luciferin program it shows the colors along with numbers. Are the numbers indicative of the led number?

[2020-08-15 00:19] sblantipodi commented on #11
Mmm. It's strange, 1440p is the resolution I'm using right now.
Yes the numbers in that test image must match the number of your LEDs. It should match the LEDs number you configured in the first tab.
Please note that you need to consider the orientation of the led strip, this depends on how you connected the strip, clockwise or anticlockwise, this setting can be configured in the first tab and req

[2020-08-15 03:06] ikrowni commented on #11
If looking at the monitor LEDs start at the bottom right then go left, up, right, down.

Here's an image where it shows that led 1 starts near the center of the bottom strip.

https://imgur.com/gallery/JaCD0kk

[2020-08-15 09:37] sblantipodi commented on #11
@ikrowni you have two options.
1) **The preferred one** is to correctly attach the LED strip behind your monitor, first led should start in the bottom half of the monitor as you see in the test image.
2) Correct the automatically generated LED matrix manually.
You can find that LED matrix in ~/Documents/FireflyLuciferin/FireflyLuciferin.yaml, please note that the first option is the preferred one

[2020-08-16 02:41] ikrowni commented on #11
Alright I set it up as per the test page configuration and it seems to be working great now. Thanks for this.

[2020-08-16 16:29] sblantipodi commented on #11
Thanks for letting me know. Closing the issue but feel free to open a new issue if you need it.

[2020-08-16 16:29] #11 closed

[2020-09-01 00:53] #7 closed

[2020-09-05 20:57] ikrowni opened #16 "Flickering at certain times"
While running the fluid simulation test on youtube I'm seeing some of the colors flickering. It doesn't happen with all of the colors though. Seems like yellows and greens do it the most. But I don't think it's a power issue as bright white doesn't flicker at all.

5v 10a power supply
Wemos d1 mini
107 LEDs Total

Thanks for any help this is the 4th monitor I've done with your project and I love i

[2020-09-05 21:21] sblantipodi commented on #16
@ikrowni thanks for the kind words.
are you using GlowWorm Luciferin FULL or LIGHT?

If you are using FULL firmware, do you use MQTT stream?

Can you post a video of the LEDs while flickering? Is this something that happens always or something that happens one time every N minutes?

[2020-09-05 21:28] ikrowni commented on #16
I'm using the FULL firmware with mqtt stream like the other monitors I've done. I'm not home to make a video right this second but it seems like it's everytime a green or yellow color happens. I paused the video at a yellow section and it just kept happening until I resumed the video and the color swapped to something else.

[2020-09-05 21:40] sblantipodi commented on #16
@ikrowni
is this a problem that happens on every monitor you are running luciferin?
are you using a WS2812B strip?

are you using a level shifter? if yes, can you post a photo please?

thanks

[2020-09-05 21:57] ikrowni commented on #16
This is the first time I've had the problem. I'm using the same ws2812b LEDs I've always used but I did swap to a different d1 mini brand. I've not added a level shifter do you think that could be the problem?

[2020-09-05 22:03] sblantipodi commented on #16
yes, that could be the problem. it seems an electrical problem more than a software ones.
I really suggest to use a level shifter and a 220ohm resistance.

WS2812B chip get the signal with a voltage difference between the input voltage and the voltage received on the digital pin.
D1 Mini isn't able to give enough voltage on that pin for WS2812B, as you can see it works but it isn't 100% reliable.

[2020-09-05 23:52] ikrowni commented on #16
Okay thanks I'll mark this closed for now until I get the necessary parts to repair this one and see if it fixes the issues.

[2020-09-05 23:52] #16 closed

[2020-09-06 00:08] sblantipodi commented on #16
@ikrowni thanks for the feedback. feel free to reopen a new issue in case the problem persist.
thanks.

[2020-09-06 06:17] ikrowni opened #17 "(Feature Request) Luciferin add-on for home assistant"
Would it be possible to get a luciferin add-on going in home assistant that could handle multiple instances of monitors with varying led lengths?

[2020-09-06 19:29] sblantipodi commented on #17
Hi @ikrowni thanks for your requests, I always appreciate new ideas.

Can you explain me better what is the purpose?
Do you want to have 1 PC and multiple monitors or multiple PCs with multiple monitors?

[2020-09-06 22:15] ikrowni commented on #17
Multiple pcs/tvs throughout the house

[2020-09-06 22:42] #17 closed

[2020-09-07 10:50] sblantipodi commented on #16
@ikrowni I have one user on Discord that is complaining about a similar issue.
level shifter is really needed for this project and should help, it seems that the discor user solved by replacing the led strip with a better quality one.

[2020-09-07 11:08] sblantipodi commented on #17
I don't think that you are an idiot, feel free to ask what ever you want here,
don't be afraid to say "inaccuracies", always glad to hear the voice of the users :D

[2020-09-07 17:30] ikrowni commented on #16
Im using btf lighting which manufacturer would you suggest?

[2020-09-07 17:42] sblantipodi commented on #16
Mmm. I use bfg lighting and never had problems, many users around the project uses bft lighting and no problem.
Hope that level shifter will solve your problem :)

[2020-09-22 02:53] Socrate214 opened #19 "Incorrect color displayed?"
updated to 1.4.0 today and noticed that the colors do not seem to be displayed correctly anymore, for instance when my screen shows a bright red, the LED will show green.
was not the case before the update but I could not find a setting to adjust the colors at all

[2020-09-22 07:09] sblantipodi commented on #19
Do you updated the firmware to 4.2.1?
Firmware should always be upgraded when you upgrade the pc software.

[2020-09-22 11:49] sblantipodi commented on #19
@Socrate214 I will add a message that inform users to upgrade the firmware when the pc software is updated.
This is not so clear. Thanks for pointing it out.
Light firmware does not support automatic upgrade, full version does.

Closing the issue, feel free to reopen it if you still have the problem.

Thanks!

[2020-09-22 11:49] #19 closed

[2020-09-29 14:49] ikrowni opened #21 "Shut off lights when computer turned off"
What would be the best method to shut the lights off after the computer is shut off? As of right now the lights just turn full bright white when the computer turns off and i have to unplug the power to them.

[2020-09-29 20:07] sblantipodi commented on #21
Please update Firefly Luciferin PC software to the latest 1.4.2 version
and Glow Worm Luciferin firmware to the latest 4.2.3 version.

You should solve the problem this way, please let me informed it the update will solve your issue.
Thanks

[2020-09-30 03:13] ikrowni commented on #21
Seems to be working thanks.

[2020-09-30 06:21] sblantipodi commented on #21
Thank you for letting me know @ikrowni

I'm going to close the issue, feel free to reopen it if the problem persists.

[2020-09-30 06:21] #21 closed

[2020-10-02 23:44] DrSaad77 opened #23 "Other Arduino Board alternative?"
Hi, I got an AmbiLight set up on the back of my monitor using AmbiBox/Prismatik. I used Arduino Nanoe. I would like to give a try to this soft, but it is not working. Also in Devices window on settings of  Firefly Luciferin my board is not present. Of course I made sure to select the right Port the arduino board is connected to the PC + the board is setted to work with 115200, that the max availab

[2020-10-02 23:54] sblantipodi commented on #23
@DrSaad77 hi, thanks for your interest in the project.
Luciferin does not support Nano Boards at the moment.
If you want to give a try to the ESP8266 D1 Mini supported baord they are very powerful, cheap and with builtin wifi.

https://www.amazon.com/IZOKEE-NodeMcu-Internet-Development-Compatible/dp/B076F52NQD/ref=sr_1_1_sspa?dchild=1&keywords=esp8266+d1+mini&qid=1601682812&sr=8-1-spons&psc=1&spLa

[2020-10-03 00:24] DrSaad77 commented on #23
Ah ok, thx you very much, I actually got a WeMos D1 Mini or ESP8266 D1 Mini, it is the same. But since the Nano is already solder and installed at the back of the monitor, I wanted to give a try to the soft as I said previously...
Kind of lazy at the moment to remove it and solder the WeMos D1 Mini lol, plus I reserve it for another preject where Wifi avaibility will be more usefull than an AmbiLi

[2020-10-03 11:37] sblantipodi commented on #23
@DrSaad77 Luciferin is a fast project that will grow fast.
There are many new features planned for the next future, adding boards support is not in the current release plan.
I find that ESP8266 is the best board for the purpose, it's extremely fast, it has enough memory, it's cheap reliable and it have builtin wifi that enables cool features.

I'm sorry but adding new boards is surely something th

[2020-10-03 11:37] #23 closed

[2020-10-03 12:01] DrSaad77 commented on #23
Thx you very much for your recommendation. I dont doubt it is a powerful board, I will probably give a try to Firefly soft when I will assemble the Wimos + the led board, and it will give me an feedback.
I understand another board is not prim at the moment, you probably working on increase the feature of the project and you got my full support in that way )) and thx you for keeping it in mind for

[2020-10-03 12:40] sblantipodi commented on #23
@DrSaad77 thanks you very much, I always appreciate suggestions and most of your suggestions will be added in the next releases.
if you like the project, don't forget to cast a star and if you want to join our community on discord:
https://discord.com/invite/aXf9jeN

[2020-10-04 16:20] Teleportist opened #24 "Feature Request - Change position of LED #1"
Firstly, thanks for taking the time to produce this neat, compact, ambilight solution.

REQUEST: Please consider adding a feature to make it possible to specify the position of LED #1.

My LEDs are installed starting from the bottom-left corner of the TV, when viewed from the front.
And they run the complete length along the bottom. A typical wall mount configuration.

So using the firefly softwar

[2020-10-05 09:24] sblantipodi commented on #24
@Teleportist thanks for opening this issue. this is a highly requested feature so I will implement it as soon as possible.
I leave this issue open until a release will close it.
Thank you!

[2020-10-12 20:36] #24 closed

[2020-10-13 19:23] sblantipodi commented on #24
@Teleportist the latest 1.5.0 release implements the features you requested. 😉

[2020-10-23 14:28] lroubinov opened #27 "Dual screen support"
Is there a possibility to use it with dual extended screen?

[2020-10-23 20:23] sblantipodi commented on #27
@lroubinov yes it works ok

[2020-10-23 22:09] lroubinov commented on #27
the firefly application capture only the main screen in my pc
Am I doing something worng?

[2020-10-26 21:37] sblantipodi commented on #27
sorry I haven't understood that you want to drive Luciferin on both monitors at the same time.
no, currently Luciferin does not support multi monitor configuration but I will add this feature in the next future.

I am going to close this issue for now because adding multi monitor support is on the schedule but not on the very first one for now.

feel free to open other issues or comment here if yo

[2020-12-27 06:34] pandaboy6621 opened #31 "Dual Monitor Support"
I would like to be able to put a giant rectangle of LEDs around my two monitors and run them off of one wemos d1 minis. This way both of my monitors can have this Ambilight.

[2020-12-27 06:36] pandaboy6621 opened #32 "Discord Server?"
I was wondering If a discord server could be made for support and sharing projects. (sry I don't know how to tag these)

[2020-12-27 18:44] sblantipodi commented on #32
@pandaboy6621 we have a small but great community on Discord.
Here the invitation 😃
https://discord.gg/aXf9jeN

thank you for your interest in the project, if you like the project don't forget to cast a star here on GitHub.

I am going to close this issue, feel free to open a new one or to join our Discord server!

[2020-12-27 18:44] #32 closed

[2020-12-27 18:44] pandaboy6621 commented on #32
Thanks

[2021-01-04 17:54] sblantipodi commented on #31
Ok, time for multi monitor support is arrived.
As asked in #27 I am going to add multi monitor support.

I like more the first solution, it's really more efficient in terms of "arduino power" and it's surely the fastest and better responsive one. This is why I am going to implement this solution first.

Second solution will be implemented in the future.

Pandaboy is a good member of the community,

[2021-01-04 17:54] sblantipodi commented on #27
@lroubinov if you want, you can follow the discussion here #31

[2021-01-07 16:59] sashayohan opened #34 "DDUPL mode doesn't work anymore on v1.7.2"
3440x1440

Release v1.7.2
DDUPL mode doesn't work anymore on this version

I'm using the version v1.6.8
DDUPL mode works on this version

Glow Worm Luciferin firmware v4.4.1

[2021-01-07 21:15] sblantipodi commented on #34
hi @sashayohan can you give me more information please?

- what do you mean for it doesn't work anymore? do you see some light?
-are you using the light or the full firmware?
-is there some erros in the log? you can find them in Documents/FireflyLuciferin/logs
- have you tried restarting the ESP?
- if you click start and then info during capturing, do you see something that says: capturing at 30fp

[2021-01-10 00:49] sblantipodi commented on #34
@sashayohan
I need some more info please...
1) what software do you use to flash the ESP? ESP Home Flashar wipe you ESP memory before flashing, this is what we want now.
2) do you have the same problem with both Full and Light firmware?
3) why you have such a low framerate? are you running many many LEDs? how many LEDs are you running?
4) we need to debug it more... Close Luciferin PC software.
pl

[2021-01-10 18:15] RonaldHiemstra commented on #34
Maybe I can help, I am not sure if my issue is the same as @sashayohan...
I don't have the firmware running yet, but I do receive the MQTT stream.
With version  v1.7.2, after running for a short while, I get a `Framerate error` popup: `Firefly Luciferin is out of sync`.
After pressing OK, the stream stops. (note: after pressing `Cancel`, it seems to work 😄)

See [FireflyLuciferin.log](https://gith

[2021-01-10 19:40] sblantipodi commented on #34
@RonaldHiemstra thanks for joining the discussion, I appreciate it.
`Firefly Luciferin` PC software and `Glow Worm Luciferin` firmware are made to work togheter.
Once you start capturing the screen, PC software sends color information to the firmware and the firmware sends back some information to the pc software just to inform the PC software that all is running well.

If you don't have the firmw

[2021-01-12 08:36] sblantipodi commented on #34
ok I identified the problem.
it seems that some ESP8266 aren't able to handle 1M baud rate.
I'm going to release a fix that will permit the user to select the best baud rate for their microcontroller.

For people who are experiencing problems at 1million baud rate should try 500K.

[2021-01-12 18:54] sashayohan commented on #34
Hi. Sorry for the long answer

I use D1 Mini
ESPHome-Flasher-1.3.0-macOS.zip
GlowWormLuciferinFULL_ESP8266_firmware.bin

Logs and screenshots in the archive
https://www90.zippyshare.com/v/FzVPAke3/file.html

[2021-01-12 22:36] sblantipodi commented on #34
@sashayohan thank you for the answer.
archive is not accessible.

but can you describe the problem more in depth? do you have some errors?
it never work or it work with another screen capture method?

if you want I attach a beta firmware and a beta version of Firefly Luciferin,
if you want to give it a try it may work better.

https://cdn.discordapp.com/attachments/797659327438782465/7984084370119

[2021-01-13 03:16] sashayohan commented on #34
DDUPL v1.6.8 nice works. DDUPL v1.7.2 it works, but the image capture is shifted
The other capture methods work.

https://drive.google.com/file/d/10UsMFhqGvPu7phFdxqEwB6184I3c7ZCZ/view?usp=sharing

[2021-01-13 16:04] sblantipodi commented on #34
@sashayohan archive is not public, I'm still not able to download it.

[2021-01-13 21:47] sashayohan commented on #34
forgot to open access)
https://drive.google.com/file/d/10UsMFhqGvPu7phFdxqEwB6184I3c7ZCZ/view?usp=sharing

[2021-01-14 13:21] sblantipodi commented on #34
@sashayohan
I was able to reproduce the problems. Next release (in few days hopeully) will fix this problem.
Users that reports problems and helps in finding the solution are gold members here. xD
I will include your name in the release just to thank you!

[2021-01-17 17:08] Grappa2020 opened #35 "can you please add support for simple HDMI capture card instead of computer monitor."
it will be nice to use it on Raspberry Pi running Ubuntu / Debian between a Receiver and TV

https://www.aliexpress.com/item/1005001699389687.html?spm=a2g0o.productlist.0.0.4e19667eqHlfrW&algo_pvid=4b8478e1-66e0-426d-ae39-24f78176c16e&algo_expid=4b8478e1-66e0-426d-ae39-24f78176c16e-17&btsid=0b0a556c16109014741123448ef653&ws_ab_test=searchweb0_0,searchweb201602_,searchweb201603_

[2021-01-17 19:48] sblantipodi commented on #35
Hi @Grappa2020, thanks for your interest in the Luciferin Project.
Anything may happen one day but this is not on the roadmap currently.

Thank you
Davide

[2021-01-17 19:48] #35 closed

[2021-01-20 11:25] #27 closed

[2021-01-20 11:25] #34 closed

[2021-01-20 12:19] sblantipodi commented on #31
multiple monitors support has been added in the latest release but you will need one microcontroller per monitor.

thanks for opening the issue.

[2021-01-20 12:19] #31 closed

[2021-02-07 10:54] partizanna opened #39 "Cant start Linux Desktop app"
## Firefly Luciferin version
fireflyluciferin-1.8.7-1-x86_64

## Describe the bug

The desktop app failed to start with "Please configure the app." message.

## To Reproduce

$ /opt/fireflyluciferin/bin/FireflyLuciferin
11:18:31,616 |-INFO in ch.qos.logback.classic.LoggerContext[default] - Could NOT find resource [logback-test.xml]
11:18:31,616 |-INFO in ch.qos.logback.classic.LoggerContext[defaul

[2021-02-07 14:19] sblantipodi commented on #39
Hi, thanks for opening this issue, this is a known issue and I have fixed it in this pull request #37

I am going to release the fix today or tomorrow.

Thanks!

[2021-02-07 14:28] sblantipodi commented on #39
please don't forget that your user dir Documents should be writable.

[2021-02-07 14:42] partizanna commented on #39
It created the directory in Documents, and it also writing logs, so rights should be OK

The log contains only the errors from the output above.
I also tested this on 2 systems - my main Archlinux desktop, and in a latest Linux Mint VM, both had the exact same output.

[2021-02-07 14:44] sblantipodi commented on #39
ok, as soon as I release the pull request, github will automatically close the issue, I'm pretty sure that it will solve your problem but feel free to reopen it in case you need it.

[2021-02-07 15:11] #39 closed

[2021-03-16 10:30] the-mentor opened #41 "[Feature request] - Android TV Support"
## Describe the solution you'd like
I would like to use Luciferin on my Android TV.
An Android TV client that can be installed directly on the Android TV box would be amazing.

I'm not sure how easy/hard it is to implement but I figured I'll give it a shot and open a Feature request.

thank you for your amazing work!
-DM

[2021-03-18 10:15] sblantipodi commented on #41
Hi @the-mentor thank you for opening this feature request.
This feature is on the roadmap already and it will be implemented in the next releases.

I must admit that some time is required but it surely a feature that will be ready in the future.

Thank you!

[2021-05-12 15:43] patrick-blom opened #44 "Wrong multi monitor capturing on Ubuntu 20.04 / Debian Buster 10.9"
## Firefly Luciferin version
1.11.6

## Glow Worm Luciferin version
4.8.5 Full Version

## Describe the bug
First of all, sorry for not using 100% of the issue template. The problems are difficult to describe and I think that way is the best solution.

### The Bug(s)
If you are using the multi display (dual or triple mode) under Linux the screen capturing does not work as expected. The display cap

[2021-05-13 10:13] sblantipodi commented on #44
this is the best description of an issue that I have seen on GitHub since ever. wow.
I will look into in, hope to give you an answer soon and possibly a fix in the same time.

Thank you Patrick.

[2021-05-13 14:15] sblantipodi commented on #44
@patrick-blom can you uninstall Firefly Luciferin and try this ALPHA version please?
In this URL, you can find and download the ALPHA artifacts.
https://github.com/sblantipodi/firefly_luciferin/actions/runs/839056957

Does it fix "the duplication problem"?

[2021-05-13 18:08] patrick-blom commented on #44
@sblantipodi yes, in the ALPHA that looks good.

Now the behavior is as follows:
The only monitor which leds are active, is atm Mon2. If I drag a window to the right side of Mon 1, the leds on the right side of Mon 2 are active, If I drag a window to the left side of Mon 3, the leds on the left side of Mon 2 are on. Same with up and down.

It seems, that now the capturing effects all monitors but

[2021-05-13 21:04] sblantipodi commented on #44
@patrick-blom on Discord you wrote me this: "btw: I disabled the lid for testing purposes, that worked like a charm  :smile:"

can you elaborate this please? what happened when you disabled the lid using the current stable Firefly Luciferin?

[2021-05-13 22:05] patrick-blom commented on #44
@sblantipodi After a detailed check I think I have to revert that post 🙈 😕The stable version also has the duplication bug when the lid is closed.

The Alpha behaves nearly the same when the lid is closed but with a different output. If the lid is closed Mon 3 becomes Mon 1 and Mon 2 stays the same.

If that happens, Mon 1 will be used as Output and the leds of the right side will turn on if I drag

[2021-05-14 09:31] sblantipodi commented on #44
I'm not able to reproduce it so I need to ask you some more questions...
what happen if you drag a windows on the side of Mon2 using the ALPHA version?

Does the led behind the mon2 turn on correctly?

if you open a console and write this command:
gst-launch-1.0 ximagesrc **display-name=:3** ! videoscale ! videoconvert ! autovideosink

a window should open and capture what is shown on screen 3, ca

[2021-05-14 10:02] patrick-blom commented on #44
No problem! Ask as many questions as needed.

"
what happen if you drag a windows on the side of Mon2 using the ALPHA version?
Does the led behind the mon2 turn on correctly?
"
No, it does not work correctly. The leds on the side of Mon 2 (left & right) only light up if I drag a window to the sides of Mon 1 and Mon 3.

The output of the commands are as follows (I translated it using google transla

[2021-05-14 11:25] patrick-blom commented on #44
@sblantipodi
I played around with that command you wrote me and I was able to capture all my diplays separately by providing the start / end positions.

In my setup ponit 0.0 is the upper left corner of Mon 3 so I could capture each display using the following commands:

- Mon1: gst-launch-1.0 ximagesrc display-name=:1.0 startx=3840 ! videoscale ! videoconvert ! autovideosink
- Mon2: gst-launch-1.

[2021-05-14 16:29] sblantipodi commented on #44
@patrick-blom
you are not a java dev but from your answers I can understand that you are a dev 😄

can you tell me if this command shows only the contents on display 1 please?
Mon1: gst-launch-1.0 ximagesrc display-name=:1.0 startx=3840 ! videoscale ! videoconvert ! autovideosink

this shows only contents for monitor 2?
Mon2: gst-launch-1.0 ximagesrc display-name=:1.0 startx=1920 endx=3840 ! videos

[2021-05-14 17:13] patrick-blom commented on #44
@sblantipodi 😄 Thx

Regarding your questions:

Yes it does

Yes it does

No it doesn't because its the same command as for monitor 2 ^^

This command will only show the contents of monitor 3
Mon3: gst-launch-1.0 ximagesrc display-name=:1.0 startx=0 endx=1920 ! videoscale ! videoconvert ! autovideosink

[2021-05-14 21:15] sblantipodi commented on #44
@patrick-blom
if you want to try another apha, here it is:
https://github.com/sblantipodi/firefly_luciferin/actions/runs/843386229

thank you again!

[2021-05-14 21:37] sblantipodi commented on #44
please note that on Linux Luciferin capture the screen only if something is moving on the screen.
just in case you see 0FPS on a screen that have nothing moving on on it.

[2021-05-15 06:08] patrick-blom commented on #44
@sblantipodi Funny thing regarding the fps, even if there is no movement on the monitors, its even producing 1.2-1.7 fps ^^

But back top topic. First off all this alpha works much better than the version before, thx a lot 🤓👍

The verison, in detail, behaves likes this:
- All movements of Mon 3 are fine. There is no unexpected behavior.
- The leds of Mon 2 are now more dim than the ones of Mon 3.

[2021-05-15 12:06] sblantipodi commented on #44
@patrick-blom
1-2FPS is normal, the important thing is that the FPS increase if something is moving on the screen.

I'm sorry for the time you are wasting behind those trials and errors Patrick.
This should really fix it.
https://github.com/sblantipodi/firefly_luciferin/actions/runs/844831472

[2021-05-15 16:18] patrick-blom commented on #44
@sblantipodi That's absolutely no problem. I know how hard debugging is, and every minute that I can help you with testing the alpha is a minute that makes Luciferin a better application. So even if this problem is fixed, if you need someone to test a new feature under linux, besides your own tests, feel free to ping me 🤓

Back to the alpha, sry but nope 🙈:
The behavior is nearly the same to the l

[2021-05-16 19:29] sblantipodi commented on #44
I finally attached another monitor to my Linux box, and here it is.
https://github.com/sblantipodi/firefly_luciferin/actions/runs/847579949

[2021-05-17 15:14] patrick-blom commented on #44
@sblantipodi
I just installed the latest alpha, and what should I say, it works perfectly 😍!

- no doublication
- the binding of monitors works as expeteced
- all leds are at the same level of brightness

Thank you for all your effort and patience to fix this bug! Great Job 👍

[2021-05-17 15:42] sblantipodi commented on #44
@patrick-blom
thank you for the best bug report I have seen and for helping me in fixing the problem.

This fix will be merged on the master branch in some days, once merged the issue will be closed automatically.

I hope to continue to see you around Patrick!

Thanks,
Davide

[2021-05-31 17:09] #44 closed

[2021-06-02 16:00] patrick-blom opened #47 "ALSA Format Error in logfile"
## Firefly Luciferin version
1.12.9

## Glow Worm Luciferin version
4.9.9

## Describe the bug
With the new music feature an Error message occurs in the logfile. The message is as follows:

`Instance sblantipodi/glow_worm_luciferin#1] 2021-06-02 16:26:14,035 ERROR org.dpsoftware.audio.AudioLoopbackSoftware [JavaFX Application Thread] ALSA Format Error: 4294967274 (Das Argument ist ungültig)
[Insta

[2021-06-19 14:19] #47 closed

[2021-07-12 23:33] aussiebj opened #49 "[Feature request]: Turn LED's off when screensaver is running"
### Is your feature request related to a problem? Please describe

Firstly - Thanks for an excellent and reliable piece of software ! It runs really well. I'm wondering if it's possible to detect that windows has gone into screensaver mode and blank the LEDs when this happens

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

[2021-08-10 10:30] #49 closed

[2021-12-12 21:23] fleity opened #55 "[Feature request]: Configureable option to turn off built-in LED"
### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

[2021-12-20 03:33] igibek opened #56 "[Security] Workflow release.yml is using vulnerable action s4u/maven-settings-action"
The workflow release.yml is referencing action s4u/maven-settings-action using references v2.1.1. However this reference is missing the commit [5935b2506fdb5912d2dbbd167716193890e2fabd](https://github.com/s4u/maven-settings-action/commits/5935b2506fdb5912d2dbbd167716193890e2fabd) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be rela

[2021-12-20 03:33] igibek opened #57 "[Security] Workflow release.yml is using vulnerable action s4u/maven-settings-action"
The workflow release.yml is referencing action s4u/maven-settings-action using references v2.1.1. However this reference is missing the commit [5935b2506fdb5912d2dbbd167716193890e2fabd](https://github.com/s4u/maven-settings-action/commits/5935b2506fdb5912d2dbbd167716193890e2fabd) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be rela

[2021-12-28 16:01] #56 closed

[2021-12-28 16:01] sblantipodi commented on #56
Thank you very much @igibek.
Updated the action as per your suggestion, much appreciated.

Thank you!!!

[2021-12-28 16:07] sblantipodi commented on #57
Thank you very much @igibek.
Updated the action as per your suggestion, much appreciated.

Thank you!!!

[2021-12-28 16:07] #57 closed

[2021-12-28 16:09] sblantipodi commented on #55
@fleity the way you turn off built in LED depends on the microcontroller you use.
this can be very difficult to implement since Luciferin is meant for every ESP32/ESP8266 based boards.
Thank you for your feature request, at the moment I'll close it but I'll keep it in mind if I'll find a way to do it for every boards.

In the mean time, if it bugs you, you can simply desolder the LED from your boa

[2021-12-28 16:09] #55 closed

[2022-01-08 08:27] whakru opened #58 "[Feature request]: indication of the beginning of the LED strip"
### Is your feature request related to a problem? Please describe

It is very inconvenient to indent the first LED.

Очень не удобно делать отступ первого светодиода.

### Describe the solution you'd like

Add a check mark in the corners to indicate the start of the LED strip.  For example, bottom left, bottom right, and so on.
 Can be implemented as a selection in the corner of the monitor on the

[2022-01-08 08:40] whakru opened #59 "[Feature request]: add language packs"
### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

Would love to see the language packs.  So that languages ​​can be added.

Хотелось бы увидеть языковые пакеты. Чтобы можно было добавлять языки.

### Describe alternatives you've considered

_No response_

[2022-01-08 11:39] whakru opened #60 "[Feature request]: add device connection status."
### Is your feature request related to a problem? Please describe

Today I came home and found that the backlight was not working.  The app indicates fps and wifi power.  It turned out that there was no food, but it is not written about it anywhere.

сегодня пришел домой и обнаружил что подсветка не работает. В приложении указывается fps и мощность wifi. Оказалось небыло питания, но об этом нигде

[2022-01-08 11:41] whakru opened #61 "[Feature request]: quick change of effects in the tray."
### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

it would be nice to have a quick change of effects right in the tray by pressing the right mouse button.

было бы не плохо иметь быструю смену эффектов прямо в трее по нажатию правой кнопки мыши.

### Describe alternatives you've considered

_No response_

[2022-01-09 17:25] sblantipodi commented on #61
hello, thanks for opening the issue,
there are so many effects, how long should be the tray icon menu?

[2022-01-09 17:27] sblantipodi commented on #60
can you elaborate this please? what do you mean for there was no food?

[2022-01-09 17:29] sblantipodi commented on #58
I agree with this... will do, thanks!

[2022-01-09 18:37] whakru commented on #60
Sorry, this is a translator, I did not notice)
There was no power.
wemos was not powered up.

[2022-01-09 18:39] whakru commented on #61
there are so many effects, how long should be the tray icon menu?

Really. Maybe you can make a scrolling list?
Maybe make a selection "Favorites"?

[2022-01-09 19:03] whakru commented on #58
You can make a drop-down list next to the direction.

[2022-01-09 19:28] whakru opened #62 "[Bug]: Doesn't see firefly_luciferin device after sleep win 10. And after losing the connection."
### Firefly Luciferin version

2,3,1

### Glow Worm Luciferin version

5,3,1

### Firmware type

FULL

### What is the stream method?

USB

### Fiefly Luciferin config file

[code]

### Relevant log output

[code]

### How to reproduce

I use wifi UDP stream without mqtt. (By the way, this template has only mqtt and usb).
After Windows 10 woke up from sleep, the firefly does not work.
He does not

[2022-01-10 00:58] sblantipodi commented on #62
Once the PC woke up after the sleep, firefly should restart itself after some time and automatically connect to glow worm again.
Isn't this the case? Does firefly restart once the pc wake up?

[2022-01-10 06:14] whakru commented on #62
Isn't this the case? Does firefly restart once the pc wake up?

I didn’t notice it.  We need to look in more detail.

after losing the wi fi connection for some time (or the inability to connect to the access point for some time), a similar behavior occurs, the firefly stops working.

[2022-01-10 06:23] whakru commented on #62
forgot to indicate, only a complete restart of the computer helps...

restarting the application does not help, restarting wemos too.

[2022-01-11 19:25] whakru commented on #62
during this time I watched, the problem did not appear anymore.  The app restarts about 1-2 minutes after sleep and everything works well.  I will try to catch this bug again.  This will take time.

[2022-01-13 12:34] sblantipodi commented on #62
ok thank you for the feedback @whakru 👍

[2022-01-13 15:05] sblantipodi commented on #60
this seems a power issue, not a luciferin issue, am I wrong? :)

[2022-01-13 15:17] whakru commented on #60
when there is no power on the module.  For some reason, the application showed that everything is fine.

maybe it has something to do with a bug:
#62

[2022-01-23 18:05] sblantipodi commented on #58
this feature request will be closed on the next release.

<img width="371" alt="image" src="https://user-images.githubusercontent.com/4722227/150691747-6d527deb-8958-4bfd-8dad-5d91546b8985.png">

there is now an indication of the corner where the first led is.

[2022-01-23 19:16] whakru commented on #58
very cool!
 just do not remove the possibility of a shift (in numbers).  you can add a "manual shift" item where the user manually selects the desired shift of the LEDs.

[2022-01-24 08:00] sblantipodi commented on #58
@whakru sure, there will be a combobox that let you select
"bottom left, bottom center, bottom right, upper right, upper left".

once selected an item Firefly automatically calculate the correct LED offset but you can manually enter your own value if you prefer. :)

[2022-01-24 18:11] whakru commented on #62
Strange things are happening.
The application is open, but does not respond to menu button presses.
The firefly is online, but the application does not see it.
![image](https://user-images.githubusercontent.com/22603145/150839029-7fc5dfe7-7078-4201-80e2-59b9683106bb.png)

Also, when I try to kill the application, it tells me that I do not have enough rights ... Although the application is running

[2022-01-25 10:43] sblantipodi commented on #62
In the log I see this error:
Network is unreachable: no further information

I would try to check if the router is not limiting the connection via QoS features or something like this.

[2022-01-26 10:21] sblantipodi commented on #62
can you translate this message in english please?

https://user-images.githubusercontent.com/22603145/150839491-2fb59c56-3f71-4689-8d16-004976e12eaf.png

[2022-01-26 11:15] whakru commented on #62
failed to complete the process.
operation failed.
access denied.

such an error only on a hung process.
worker process is quietly killed.

[2022-02-18 01:23] #60 closed

[2022-02-18 15:31] sblantipodi commented on #59
I am adding the language pack.

The translation file can be downloaded from GitHub:
https://github.com/sblantipodi/firefly_luciferin/blob/effects/src/main/resources/messagebundle_en.properties

there are some "words" that doesn't need a translation, in Italian for example there is no reason to translate words like "download", "start", "stop", "letterbox", "pillarbox"...
if you feel that some words

[2022-02-20 00:48] sblantipodi commented on #59
Deutsch has been translated by @Maaaaarc, we need Russian, Français, Español...

[2022-02-20 19:56] kopidoo opened #64 "[Feature request]: Basic colour and grayscale calibration"
### Is your feature request related to a problem? Please describe

Gray level representation with RGB LEDs might be a pain in the neck. A grayscale calibration feature would be a big step ahead.
The RGB and CMY colour calibration is also a good feature that helps to get the display colours closer to the LED colours. If the wall behind the display is other than white, it can show some special colou

[2022-02-21 17:08] sblantipodi commented on #59
UPDATE:
thanks @kopidoo for the Hungarian translation.
We still need Russian, Français, Español.

[2022-02-21 19:13] whakru commented on #59
Russian

https://drive.google.com/file/d/1-GuOq2OXFu5hWBTADdKzsyNsbYm-dHcQ/view?usp=sharing

Translated as best I could, there may be inaccuracies.
Probably someone will fix it in the future.
Some phrases did not translate, I do not understand their meaning.

[2022-02-22 19:44] sblantipodi commented on #59
thank you for pointing it out...
Sync check means that the app checks if the firmware is in sync with the app.
if not, it shows an error.

if the app (firefly) captures at 60FPS and the firmware (glowworm) consumes at 50FPS there is an error if sync check is enabled.

if the app (firefly) captures at 60FPS and the firmware (glowworm) consumes at 60FPS there is no error.

[2022-02-23 14:57] kopidoo opened #67 "[Feature request]: LED corner skip"
### Is your feature request related to a problem? Please describe

LEDs at the corners might be not present because of hardware connections.
The gap where there is no LED could vary based on the strip LED count and the connector/connection at the corners.
E.g. the L-shaped connector with a strip of 60LED/m (or higher) could have a significat impact.
The LED count remains and it shirnks the grabber

[2022-02-23 15:08] kopidoo opened #68 "[Feature request]: grabber area adjustment"
### Is your feature request related to a problem? Please describe

Adjusting the grabber area could give the possibility to fine-tune the output that matches the users taste.
I think of the value that shows how much the grabber reaches to the middle of the screen:
5 percent:
![5percent](https://user-images.githubusercontent.com/97093848/155346600-ef9c941d-908a-4524-a438-a8d28141ae67.jpg)
15percent

[2022-02-24 08:52] kopidoo opened #69 "[Feature request]: Bottom row split adjustment"
### Is your feature request related to a problem? Please describe

Bottom row split feature has a potential to improve.
The feature has now a hard coded gap that needs to be adjustable.
For example if the setup has 4-4 LEDs at the bottom edge, the grabber uses a way bigger area and it is not matching the actual position of the LEDs.  On a 24" display the grabber uses around 22cm long area on both

[2022-02-28 11:30] morganflint commented on #59
I have just finished the Spanish translation in the attached file "messagebundle_es.properties.txt" (don't know if the naming scheme is correct, just changed "en" to "es").
I've translated virtually all the messages, just left untranslated rows 54 to 61 as I'm not aware of the context and the words "letterbox" and "pillarbox", as there isn't a proper Spanish word for these concepts (even Spanish W

[2022-02-28 11:39] sblantipodi commented on #59
we only luck French now

[2022-02-28 11:41] sblantipodi commented on #59
same here, I haven't translated that words in Italian. I don't think that we have a right word for that.

Thank you so much @morganflint

[2022-03-03 20:21] sblantipodi commented on #58
closed by #54

[2022-03-03 20:21] #58 closed

[2022-04-01 22:34] sblantipodi commented on #59
with french translations we close this issue...
thank you all.

[2022-04-01 22:35] #59 closed

[2022-04-22 12:30] #67 closed

[2022-04-22 12:30] #68 closed

[2022-04-22 12:30] #69 closed

[2022-05-04 09:38] sblantipodi commented on #61
@whakru next release will implement this feature request.

[2022-05-10 09:37] morganflint commented on #61
Another possibility to avoid cluttering the tray icon menu would be to use hierarchical menus like the one in the picture. For example, we could have "effects/music/VU Meter-Stereo VU Meter-Screen capture-Rainbow music", "effects/Misc/Twinkle-Rainbow-Mixed rainbow-Chase rainbow-Solid rainbow
![TryIconSubMenus](https://user-images.githubusercontent.com/10438424/167598622-e8da5e6b-4b6c-4f8e-9e89-1d8

[2022-05-10 09:50] sblantipodi commented on #61
Thank you @morganflint for your continued support, I appreciate it.
Yes I had that in mind, will do it that way. :)

[2022-06-03 10:18] #61 closed

[2022-06-10 12:22] sblantipodi commented on #64
this is going to be implemented in the next release. thanks for the good idea @kopidoo

[2022-06-21 21:31] whakru opened #77 "[Bug]: there is no launch after the update"
### Firefly Luciferin version

v2.7.3

### Glow Worm Luciferin version

--

### Firmware type

FULL

### What is the stream method?

USB

### Fiefly Luciferin config file

[code]

### Relevant log output

[code]

### How to reproduce

win 10
reinstalled, updated java. it didn't help.
The complete removal of the Fire fly Lucifer in.yaml configuration file helped
FireflyLuciferin.yaml

[2022-06-21 21:47] whakru opened #78 "[Bug]: serial port is not identified"
### Firefly Luciferin version

v2.7.3

### Glow Worm Luciferin version

--

### Firmware type

FULL

### What is the stream method?

USB

### Fiefly Luciferin config file

_No response_

### Relevant log output

_No response_

### How to reproduce

on the new version, I made only the first settings screen clean and saved it. then the error came out: serial port is not identified.
after clicking OK

[2022-06-21 22:09] whakru opened #79 "[Bug]: The new application does not see the esp with the old firmware."
### Firefly Luciferin version

v2.7.3

### Glow Worm Luciferin version

Glow Worm Luciferin (V5.3.1)

### Firmware type

FULL

### What is the stream method?

USB

### Fiefly Luciferin config file

_No response_

### Relevant log output

_No response_

### How to reproduce

The new v2.7.3 application does not see esp with firmware (V5.3.1). it is not very convenient since you will have to connect

[2022-06-21 22:12] whakru commented on #78
only removing the configuration helps. and then only until you click save. Then the application does not work.

[2022-06-22 20:53] sblantipodi commented on #77
Hi @whakru,
thanks for your continued interest in Luciferin :)

I'm going to look at all the defects you opened soon.
I have deleted my FireflyLuciferin.yaml and created a new one with your config.

I then started Firefly Luciferin app v2.7.3 and no isse occurred.
I'll try to reproduce it with a different firmware version like the one you used Glow Worm Luciferin v.5.3.1.

I'll keep you posted.

[2022-06-22 21:22] whakru commented on #77
@sblantipodi
I will help with any information as far as possible.  A little later I will try to update the microcontroller via usb.  since the new version of the application does not see the microcontroller via wifi.
#79

[2022-06-23 19:42] sblantipodi commented on #77
I'm not able to reproduce this one.
as I said, I used your config file with an ESP running the old 5.3.1 firmware.

<img width="352" alt="image" src="https://user-images.githubusercontent.com/4722227/175383291-a84fd2c5-45a4-4609-8e77-3f95e9e23b70.png">

sometimes routers may have some disconnections problems with the ESP devices,
latest firmware should mitigate this problem when using DHCP.

Pleas

[2022-06-23 20:09] sblantipodi commented on #77
I have seen that you selected a baudrate of 2000000.
This is not really recommended if not if very special case.

Generally ESP8266 doesn't handle baudrate over 15000000,
I'll leave the baudrate to the default 500.000 value if you use the WiFi stream.

If you want to use the USB cable instead of the WiFi stream (not really recommended if you have a good wifi signal) a baudrate that is too big for

[2022-06-23 20:11] sblantipodi commented on #79
ok, as said in the other issue, please try to reproduce the problem, some temporary issue may have occurred.

[2022-06-23 20:22] sblantipodi commented on #78
@whakru can you post the configuration file that have this specific issue please?

[2022-06-23 20:59] whakru commented on #78
you mean press save and send the config file here?  if so, I will do it in a couple of days.

[2022-06-25 15:52] sblantipodi commented on #78
@whakru yes, I want to test the config file that creates this problem please.

[2022-06-26 16:47] whakru commented on #77
![image](https://user-images.githubusercontent.com/22603145/175824928-1b8e1fcf-f343-4e77-8f31-a413b054275f.png)
After 10 minutes, nothing was found, although the device is available at the local address. http://192.168.31.84/

[2022-06-26 16:53] whakru commented on #78
Config, I just opened the wi-fi checkboxes and clicked save. The app doesn't open anymore.

`---
numberOfCPUThreads: 1
captureMethod: "DDUPL"
serialPort: "AUTO"
baudRate: "115200"
defaultLedMatrix: "FullScreen"
autoDetectBlackBars: true
topLed: 33
leftLed: 18
rightLed: 18
bottomLeftLed: 13
bottomRightLed: 13
bottomRowLed: 26
orientation: "Clockwise"
timeout: 100
screenResX: 1360
screenResY: 768
os

[2022-06-29 07:59] sblantipodi commented on #77
@whakru please open the browser to
http://192.168.31.84/

on the right top corner you can access the firmware settings. what is the device name?
is it the same selected in the "Settings" -> "Mode tab" -> "Output device"?

Do you see the device in Firefly Luciferin as soon as you start the software?

Can you show me a screenshot of the "Mode tab" and one of the "WiFi/MQTT tab" please?

[2022-06-29 08:14] whakru commented on #77
@sblantipodi
![image](https://user-images.githubusercontent.com/22603145/176386455-643a9368-3e96-4777-b2ef-089f15112b1d.png)

I clearly have a problem with the application, it does not start after clicking the save button.

[2022-06-29 08:35] whakru commented on #77
@sblantipodi
I have found a solution to all the problems! the application did not work correctly due to the presence of Russian words in the installation path. in my case ( C:\Users\Julia\AppData\Local\Firefly Luciferin\) I reinstalled the app in (C:\Firefly Luciferin\) everything started working fine! and the firmware has been updated. It remains for you to solve this problem) I think you can jus

[2022-06-29 08:38] whakru commented on #79
problem solved
#77
https://github.com/sblantipodi/firefly_luciferin/issues/77#issuecomment-1169693298

[2022-06-29 08:38] #79 closed

[2022-06-30 17:37] sblantipodi commented on #77
Thank you very much for reporting the problem, I really appreciate your continued support @whakru.

I'll fix it.

[2022-07-07 22:49] kopidoo opened #80 "[Feature request]: Smoothing feature"
### Is your feature request related to a problem? Please describe

Fast changes on screen could cause too fast changes in LED colour and/or brightness just like a strobe.
On a longer time this can be disturbing.

### Describe the solution you'd like

A linear smoothing feature could be inplemented.
This smoothing interpolates the previous to the target colors in a moving time window. (It is a hist

[2022-07-07 22:51] sblantipodi commented on #80
Very interesting, this is something that will be implemented in the future. Adding keep label.

[2022-07-18 10:01] kopidoo opened #81 "[Feature request]: Brightness limiter"
### Is your feature request related to a problem? Please describe

In some cases the peak brightness of the white or some colours are too high even when the global brightness slider is set to a lower value. Setting it for a matching screen-LED peak brightness could cause too dark LED light in lower brightness scenes.

### Describe the solution you'd like

Implementing a global peak brightness limi

[2022-07-24 11:43] #64 closed

[2022-08-07 12:58] Maaaaarc opened #83 "[Feature request]: aspect ratio synced on multiple instances"
Hello here again,

So as you may know, I have 3 different screens (3 ESPs), which capture the same Image, which means that the LEDs all react, to the same image, just in a different place.

My little problem is when I watch a video, where the aspect ratio is not recognized correctly
or I want to set it manually, I have to change it individually for each one, which means it takes a long time,
and i

[2022-08-07 18:17] Loginbug opened #84 "[Feature request]: Stereo or Surround LED groups assignment"
### Is your feature request related to a problem? Please describe

Actually does not exists any software AFAIK that can control groups of LEDs based upon stereo music channels (2) or surround music channels (5+).

### Describe the solution you'd like

It would me funny to have the ability to assign a group of LED to an audio channel, so in the most of cases a monitor with a LED strip would have tw

[2022-08-09 09:58] sorcererlc opened #85 "[Feature request]: Automatic reconnect to MQTT"
### Is your feature request related to a problem? Please describe

If there is a delay in network connection at system startup Firefly reports that it is unable to connect to MQTT, which is fair enough. There is, however, no apparent retry mechanism in place and no manual reconnect option so the only solution is to close Firefly and start it again after the network interface is connected.

### Des

[2022-08-09 13:04] sblantipodi commented on #85
Hi @sorcererlc,
thanks for your interest in the Luciferin project.

I agree that this is a needed feature. I never thought on it before because most of us have an MQTT server running H24 on a Raspberry or similar but I understand the need.

Don't know when, but it will be fixed soon.

[2022-08-09 13:14] sorcererlc commented on #85
Hi @sblantipodi
Thanks! No rush, I know a quite bit about priorities in a software project :)

I also have an MQTT server running non-stop. My issue is with the computer running Firefly. Sometimes it takes up to a minute for the network interface to connect after the Windows taskbar and system tray are initialized... it just shows as "No internet connection". Very odd considering it's a wired inte

[2022-08-10 07:53] sblantipodi commented on #85
![image](https://user-images.githubusercontent.com/4722227/183845357-3c21bd17-36f5-47b9-8e67-c3128b377859.png)

Hi @sorcererlc, your suggestion was easy and fast enough.
Next release of Luciferin will have a smarter way to manage the lack of network connection.

MQTT connection will be automatically retried every 10 seconds.
Informative messages or errors that doesn't need user interaction has bee

[2022-08-10 07:55] sorcererlc commented on #85
Hi @sblantipodi ,

Awesome! Thanks :)

[2022-08-26 07:12] sn1ce opened #86 "[Bug]: menu not visibile when task bar is on top"
### Firefly Luciferin version

v2.7.3 + v2.8.4

### Glow Worm Luciferin version

v5.7.2

### Firmware type

FULL

### What is the stream method?

WiFi Stream

### Fiefly Luciferin config file

[code]

### Relevant log output

_No response_

### How to reproduce

Hi there,

first of all, thanks for this cool repo! I think when it's working, it will be awesome!

My Issue is simple. I installed with

[2022-08-26 07:32] sn1ce commented on #86
Hi again,

wow, I was able to manage it! It so simple... My Taskbar is on the Top, so I was not able to see it. So maybe a feature request ?

But I also noticed, that RGB is not correct with my stripes, i guess its GRB.

Cheers!

[2022-08-27 23:42] sblantipodi commented on #86
thank you for reporting the issue @sn1ce, I'll look into it.
what kind of strips are you using?

can you elaborate this please? WS2812B is fully supported you should not have problems, but what is the problem you are experiecing exactly?

thanks
Davide

[2022-09-03 13:24] raybantracing opened #87 "[Bug]: wrong colors"
### Firefly Luciferin version

2.8.4

### Glow Worm Luciferin version

5.7.2

### Firmware type

FULL

### What is the stream method?

WiFi Stream

### Fiefly Luciferin config file

[code]

### Relevant log output

_No response_

### How to reproduce

Hi, I'm using a sk6812 led strip but the colors does not match the ones on the screen.

Is this something that can be fixed please?

[2022-09-03 13:25] sblantipodi commented on #87
thanks for using Luciferin.

please choose the right Color mode, how to [here](https://github.com/sblantipodi/firefly_luciferin/wiki/RGB-and-RGBW-support).

[2022-09-03 13:25] #87 closed

[2022-09-06 18:29] jypma opened #88 "[Feature request]: Resume MQTT stream from Firefly, triggered by MQTT"
### Is your feature request related to a problem? Please describe

MQTT control of GlowWorm LEDs through home assistant doesn't seemlessly combine with Firefly sending streaming LED data.

My use case:
- I'd like the LEDs to match Kodi playing movies on my TV. This works great (using MQTT stream).
- I'd also be able to control the LEDs through MQTT (from Home Assistant) when not watching movies. T

[2022-09-07 09:09] sblantipodi commented on #88
Hi @jypma, thanks for your intereste in the project.

[Home assistant integration](https://github.com/sblantipodi/firefly_luciferin/wiki/Home-Automation-configs) has a ready to use package that gives you some hints on the MQTT topic to use for the various commands.

The solid effect button:
<img width="333" alt="image" src="https://user-images.githubusercontent.com/4722227/188838525-6f04305a-a7c1-

[2022-09-09 19:52] jypma commented on #88
Thanks for the explanation! I had indeed added the included `home_assistant_luciferin_package.yaml` to Home Assistant already.

By updating my Kodi automations to set the "Solid Effect" input boolean to `false` after starting a movie, and to `true` after it, the light is working perfectly in both modes.

Coincidentally, it somehow _also_ solved the issue of `Firefly` crashing with "Cannot connect

[2022-09-17 17:10] #88 closed

[2022-09-17 18:46] sblantipodi commented on #88
@jypma sorry for the late reply and thanks for the answer.

Adding MQTT auto-discorvery for HA is something that I want to add in the next releases but I need to understand how to do it in a good way.
If you have some suggestions is really welcomed.

Feel free to add a feature request for it if you want to see implemented in the next future.

thanks!

[2022-09-17 23:06] #81 closed

[2022-09-17 23:06] #85 closed

[2022-09-17 23:06] #86 closed

[2022-09-18 14:00] sblantipodi opened #94 "[Feature request]: MQTT auto discovery for Home Assistant"
### Discussed in https://github.com/sblantipodi/firefly_luciferin/discussions/93

<div type='discussions-op-text'>

<sup>Originally posted by **raybantracing** September 18, 2022</sup>
Hi,
have you ever considered adding MQTT auto discovery for Home Assistant?

Thanks</div>

[2022-11-04 19:40] cr333d opened #97 "[Feature request]: Series led connection (satellites)"
### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

I want to connect my led table lamp(via data line) to right led col led of the monitor leds or top and bottom row.So that it replicates the colours.If the data single be transfer over wifi or bluetooth to another receiver it will be awesome then we can keep any lamp or any led de

[2022-11-06 12:05] sblantipodi commented on #94
will add in the future

[2022-11-06 12:06] sblantipodi commented on #97
I will add it in a future release.

[2022-11-06 12:26] cr333d commented on #97
Thank you very much

[2022-11-11 07:57] lordraiden opened #98 "[Feature request]: Auto lights off when shutdown or suspension"
### Is your feature request related to a problem? Please describe

It would be nice to have an option to automatically power off the led lights at least when the computer is going to be shutdown.
A bonus would be to auto lights on and off when the computer is blocked/screensaver or after comming back to normal use.

### Describe the solution you'd like

_No response_

### Describe alternatives you

[2022-11-12 19:30] bcameron21 opened #99 "[Feature request]: Update Home Assistant integration package for MQTT breaking changes"
### Is your feature request related to a problem? Please describe

Home Assistant release 2022.06 introduced changes to MQTT configuration, and the old configuration was deprecated in release 2022.09

Defining manually configured MQTT entities directly under the respective platform keys (e.g., fan, light, sensor, etc.) is deprecated, and support will be removed in Home Assistant Core 2022.9.

Manu

[2022-11-23 09:19] sblantipodi commented on #99
closed by [#47](https://github.com/sblantipodi/glow_worm_luciferin/pull/47)

thanks for reporting  @bcameron21
new package as been updated.

https://github.com/sblantipodi/glow_worm_luciferin/blob/master/home_assistant_luciferin_package.yaml

[2022-11-23 09:19] #99 closed

[2022-11-28 19:55] sblantipodi commented on #98
@lordraiden if the bias light is on, when you turn off the PC, the LEDs will turn off automatically without any interaction needed by the user.

regarding the auto turn off and on, you can use the specific power saving feature that turn off leds when there is no activity on the screen.

https://github.com/sblantipodi/firefly_luciferin/wiki/Power-saving-features#turn-off-leds-for-long-inactivity-pe

[2022-11-30 22:15] lordraiden commented on #98
@sblantipodi what do you mean by bias? it's a setting?